{% extends 'master.html' %}
{% load static %}

{% block title %} Home page {% endblock %}

{% block body %}

<style>
    .abou1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        gap: 30px;
    }

    .abou1 img {
        width: 90%;
        max-width: 400px;
        height: auto;
        margin-top: 10px;
    }

    .abou1 .right {
        width: 90%;
        max-width: 600px;
    }

    .abou1 .right p {
        line-height: 1.6;
    }

    .abou1 .btn {
        width: 100%;
        margin-top: 10px;
    }

    @media (min-width: 768px) {
        .abou1 {
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            padding: 40px;
            gap: 60px;
        }

        .abou1 img {
            width: 300px;
        }

        .abou1 .btn {
            width: 600px;
        }
    }
</style>
    <a href="/login/" class="btn btn-secondary" style="margin-left:30px;margin-top:30px">Back</a>

<div class="abou1">
    <div class="left">
        <img src="{% static 'img/book5.jpg' %}" alt="Book Image">
    </div>
    <div class="right">
        <h2>History Of Ancient Civilization</h2>
        <p>
            A popular book theory related to the history of ancient civilizations is "A History of Ancient Civilization" by Charles Seignobos.<br><br>
            This book provides a comprehensive overview of ancient cultures, spanning from the earliest societies to the fall of the Roman Empire. Seignobos's work is known for its clear, engaging style that combines academic rigor with accessibility for a broad audience.
        </p>
        <p style="font-size:25px;">Rs. 1599</p>

      <a href="{% url 'add_to_cart' 5 %}?price=1599&name=History Ancient Civilization" class="btn btn-primary">Add to Cart</a><br>
        <a href="{% url 'buy_now' %}?book_name=History %20Of %20Ancient%20 Civilization&price=1599" class="btn btn-success btn">Buy Now</a>
    </div>
</div>

{% endblock %}
