{% extends 'master.html' %}
{% load static %}

{% block title %}Admin Home{% endblock %}

{% block body %}

<!--<h2 style="margin-left:100px;margin-top:50px">Welcome Admin: {{name}}</h2>-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                    <tr>
                        <td data-label="Book Name">{{x.book_name}}</td>
                        <td data-label="Quantity">{{x.quantity}}</td>
                        <td data-label="Date">{{x.date}}</td>
                        <td data-label="Time">{{x.time}}</td>
                        <td data-label="Contact">{{x.mobile}}</td>
                        <td data-label="Address">{{x.address}}</td>
                        <td data-label="Action">
                            <a class="btn btn-danger" href="{% url 'delete_order' %}?id={{x.bid}}" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No orders found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}