{% extends 'master.html' %}
{% load static %}

{% block title %}Admin Home{% endblock %}

{% block body %}

<h2 style="margin-left:500px;margin-top:50px">Welcome Admin: {{name}}</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Book Name</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Contact</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in data %}
                    <tr>
                        <td>{{x.book_name}}</td>
                        <td>{{x.quantity}}</td>
                        <td>{{x.date}}</td>
                        <td>{{x.time}}</td>
                        <td>{{x.mobile}}</td>
                        <td>{{x.address}}</td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete_order' %}?id={{x.bid}}" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No orders found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}