{% extends 'master.html' %}
{% load static %}

{% block title %} user home page {% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
            <h2>Welcome :- {{name}}</h2>
            <h3 class="text-danger">{{msg}}</h3>
            <h3 class="text-danger">{{status}}</h3>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6">
            <a href="">
                <img src="{% static 'img/mountain.jpg' %}" style="width:50%">
                <p>show all books</p>
            </a>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
            <a href="{% url 'buy_now' %}">
                <img src="{% static 'img/moon.jpg' %}" style="width:50%">
                <p>read book</p>
            </a>
        </div>
    </div>
</div>

<!--cart info-->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show mt-3 mx-3" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}


<!-- Book Cards Section -->
<div class="container mt-5">
    <!-- Row 1 -->
<!--    first book-->
  <h3 class="mt-5" id="historical-books-section"> Historical books</h3>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        {% comment %} First 4 Cards {% endcomment %}
        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book1.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body" >
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about1'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        second book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book2.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about2'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        third book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book3.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about3'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        four book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book4.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about4'  %}" class="btn btn-sm btn-primary w-100">About book</a>
                </div>
            </div>
        </div>

<!--        fifth book -->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book5.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about5'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        sixth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book6.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about6'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        seventh book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book7.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about7'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        eighth book -->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/book8.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about8'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
    </div>
</div>


<!--Gods Books-->

<div class="container mt-5">
    <!-- Row 1 -->
<!--    first book-->
  <h3 class="mt-5" id="gods-books-section"> Gods books</h3>
 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        {% comment %} First 4 Cards {% endcomment %}
        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g1.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body" >
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about29'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        second book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g2.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about30'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        third book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g3.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about31'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        four book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g4.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about32'  %}" class="btn btn-sm btn-primary w-100">About book</a>
                </div>
            </div>
        </div>

<!--        fifth book -->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g5.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about33'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        sixth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g6.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about34'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        seventh book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g7.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about35'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        eighth book -->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/g8.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about36'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
    </div>
</div>


<!--    &lt;!&ndash; Science & Technology Books &ndash;&gt;-->
    <div class="container mt-5">

    <h3 class="mb-5 mt-5" id="science-&-technology-books-section"> Science & Technology books</h3>
<!-- Row 2 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3">
<!--        first book-->

        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/sci1.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about9'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        second book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/sci2.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about10'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        third book-->
         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/sci3.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about11'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
<!--        fourth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/sci4.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about12'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
    </div>
    </div>

<!--    &lt;!&ndash; Literature & Novels Books &ndash;&gt;-->
        <div class="container mt-5">

    <h3 class="mb-5 mt-5" id="literature-&-novels-books-section"> Literature & Novels books</h3>
<!-- Row 3 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3">
<!--        first book -->
        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/nov1.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about13'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        second book-->
         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/nov2.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;" >
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about14'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
<!--        third book-->
         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/nov3.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about15'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        fouth book-->
         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/nov4.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about16'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
    </div>

    </div>


<!--    &lt;!&ndash; Horror Books &ndash;&gt;-->
            <div class="container mt-5">

    <h3 class="mb-5 mt-5" id="horrer-books-section"> Horrer books</h3>
<!-- Row 4 -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3">

<!--        first book-->

        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor1.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about17'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
<!--        second book-->
         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor2.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about18'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        third book -->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor3.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about19'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        fourth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor4.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about20'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        fifth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor5.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about21'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        sixth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor6.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about22'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        seventh book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor7.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about23'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        eighth book-->

         <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/hor8.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about24'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
    </div>
            </div>


<!--    &lt;!&ndash; Other Popular Books &ndash;&gt;-->
                <div class="container mt-5">
    <h3 class="mb-5 mt-5" id="other-popular-books-books-section"> Other Popular books</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4 mt-3">
        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/o1.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about25'  %}" class="btn btn-sm btn-primary w-100">About book</a>


                </div>
            </div>
        </div>

<!--        second book-->
        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/o2.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about26'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        third book-->

        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/o3.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about27'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>

<!--        fourth book-->
        <div class="col">
            <div class="card h-70">
                <img src="{% static 'img/o4.jpg' %}" class="card-img-top" style="height: 250px; width: 100%; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">Book Title {{i}}</h5>
                    <p class="card-text">Short description for Book {{i}}.</p>
                    <a href="{% url 'about28'  %}" class="btn btn-sm btn-primary w-100">About book</a>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}